/*Códigos CSS para a formatação do layout da view de alteração dos dados das montadoras.
---------------------------------------------------------------------------------------------------------------------*/

th {
	text-align: center;
}

#txtDescricao {
	width: 40%;
}



