/*Códigos CSS para a formatação do layout da view de alteração das categorias dos dados dos itens do checklist.
---------------------------------------------------------------------------------------------------------------------*/

th {
	text-align: center;
}

#txtDescricao {
	width: 40%;
}

