/*Códigos CSS para a formatação do layout da view do cadastro das categoria dos Veiculos.
---------------------------------------------------------------------------------------------------------------------*/

th {
	text-align: center;
}

#txtDescricao {
	width: 40%;
}








