/*Códigos CSS para a formatação do layout da view do cadastro dos clientes.
---------------------------------------------------------------------------------------------------------------------*/

th {
	text-align: center;
}

.tdCentralizado {	
	
	text-align: center;
}

















