/*Códigos CSS para a formatação do layout da view de login.
---------------------------------------------------------------------------------------------------------------------*/

h3 {
	margin-top: 70px;
}

hr {
	border-color: #BEBEBE;
}


#tdId,
#tdCpf,
#tdCidade,
#tdAcoes {
	
	text-align: center;
}

