/*Códigos CSS para a formatação do layout da view do cadastro dos itens do checklist.
---------------------------------------------------------------------------------------------------------------------*/

th {
	text-align: center;
}

#txtDescricao {
	width: 40%;
}










