/*Códigos CSS para a formatação do layout da view do cadastro das montadoras.
---------------------------------------------------------------------------------------------------------------------*/

th {
	text-align: center;
}

#txtDescricao {
	width: 40%;
}











